<% content_for :title, "Contact us" %>

<div class="row">
  <div class="col-md-6">
    <h2>Get in touch</h2>
    <div class="card card-body">
      <%= render 'enquiries/form' %>
    </div>
  </div>
</div>
