<% content_for :title, "Home page" %>

<div class="alert alert-warning alert-dismissible fade show" role="alert" id="cart" style="display:none;">

</div>
<div id="product-list" class="card-deck">
  <%= render @products %>
</div>
